<div class="timed_out">
  <div class="message timeout">Your session has timed out. Please click on the button below to go to the Login page.</div>
  <br/>
  <a href="/"><button type="button">Login page</button></a>
</div>