<div class="timed_out" style="text-align: center">
  <div class="message timeout" style="width: 600px">Your session has timed out. Please close this window, logout of the main window, then log back in.</div>
</div>