<div class="nested-fields nested_single">
  <%= f.text_field :editorial_note %>
  <div class="deleteIcon"><%= link_to_remove_association image_tag("delete.png", :class => "deleteIcon"), f %></div>
</div>