<div class="nested-fields nested_single">
  <%= f.text_field :is_referenced_by %>
  <div class="delete_icon"><%= link_to_remove_association image_tag("delete.png", :class => "delete_icon"), f, :tabIndex => "-1" %></div>
</div>
