<div class="nested-fields nested_single2 background_gray">
  <%= f.text_field :place_note %>
  <div class="delete_icon"><%= link_to_remove_association image_tag("delete.png", :class => "delete_icon"), f, :tabIndex => "-1" %></div>
</div>