<div class="nested-fields nested_single2 backgroundGray">
  <%= f.text_field :qualification_name %>
  <div class="deleteIcon"><%= link_to_remove_association image_tag("delete.png", :class => "deleteIcon"), f %></div>
</div>