
  <% if session[:folio_id] == nil || session[:folio_id] == '' %>

      <div class="bubble" style="margin-left: 40px; width: 450px; font-size: 1em; height: 30px">Please choose a Register
        and Folio and click on the Go button.
      </div>

  <% else %>

      <div id="left_frame">
        <%= render "image_zoom_small" %>
      </div>

      <div id="right_frame">
        <%= render "form" %>
      </div>

      <div style="clear: both"></div>

  <% end %>
