<div class='login' style='margin-top: 40px; margin-left: 40px'>

  <% if @error == 'true' %>
    <div class="error"><span style="color: black">*</span> Invalid username and / or password</div>
  <% end %>

  <form>

    <table cellspacing="0" style="font-size: 1em">

      <tr>
        <th colspan="2" style="height: 40px; font-size: 1.1em; padding: 3px 3px 10px 3px"><div style="padding: 5px; background-color: #808080; color: #F7F4EE; font-weight: bold">Login</div></th>
      </tr>

      <tr>
        <td style='width: 80px'>Username</td>
        <td>
          <input style="margin-right: 10px" type="text" name="username" value="test"/>
        </td>
      </tr>

      <tr>
        <td>Password</td>
        <td>
          <input type="password" name="password" value="test"/>
        </td>
      </tr>

      <input type="hidden" name='submit' value="true"/>

      <tr>
        <td colspan="2" style="margin-top: 40px"><input type="submit" value="Login"/></th>
      </tr>

    </table>

  </form>
</div>
