<div id="main">

  <% if session[:register_choice] == nil || session[:register_choice] == '' || session[:folio_choice] == nil || session[:folio_choice] == '' %>

      <div class="bubble" style="margin-left: 40px; width: 450px; font-size: 1em; height: 30px">Please choose a Register
        and Folio and click on the Go button.
      </div>

  <% else %>

      <div id="left_frame">
        <%= render "image_zoom" %>
      </div>

      <div id="right_frame">
        <%= render "form" %>
      </div>

  <% end %>
</div>