<div class="timed_out">
  <div style="margin-left: 20px; margin-top: 10px"><a style="color: #5F1119" href="/"><button type="button">Login page</button></a></div>
  <div style="display: inline-block; margin-left: 20px; margin-top: 30px" class="message2 timeout">Your session has timed out - please click on the button above to go to the Login page</div>
</div>