<div class="timed_out">
  <div style="display: inline-block; margin-top: 30px" class="message2 timeout">Your session has timed out - please click here to go to the Login page
  <a style="color: #5F1119" href="/"><button type="button">Login page</button></a></div>
</div>