<div class="landing_page">

  <table>

    <tr>

      <td>

        <div>
          <a href="/login_submit?submit=true&register_choice=test:17865&amp;register_name=Abp Reg 1A: Register of Walter de Gray (Major roll 1225-1235)"><img src="/assets/reg_1A.png"/></a>
        </div>
        <div class="landing_page_text">
          <strong>Abp Reg 1A</strong><br/>Register of Walter de Gray<br/>(Major roll 1225-1235)
        </div>
      </td>

      <td>
        <div>
          <a href="/login_submit?submit=true&register_choice=test:18034&amp;register_name=Abp Reg 1B: Register of Walter de Gray (Minor roll 1235-1255)"><img src="/assets/reg_1B.png"/></a>
        </div>
        <div class="landing_page_text">
          <strong>Abp Reg 1B</strong><br/>Register of Walter de Gray<br/>(Minor roll 1235-1255)
        </div>
      </td>

      <td>
        <div>
          <a href="/login_submit?submit=true&register_choice=test:18173&amp;register_name=Abp Reg 03: Register of William Wickwane (1279-1285)"><img src="/assets/reg_03.png"/></a>
        </div>
        <div class="landing_page_text">
            <strong>Abp Reg 03</strong><br/>Register of William Wickwane (1279-1285)
        </div>
      </td>

      <td>
        <div>
          <a href="/login_submit?submit=true&register_choice=test:17717&amp;register_name=Abp Reg 08: Register of William Greenfield (1306-1315)"><img src="/assets/reg_08.png"/></a>
        </div>
        <div class="landing_page_text">
            <strong>Abp Reg 08</strong><br/>Register of William Greenfield (1306-1315)
        </div>
      </td>

      <td>
        <div>
          <a href="/login_submit?submit=true&register_choice=test:21152&amp;register_name=Abp Reg 12: Register of Alexander Neville (1374-1388)"><img src="/assets/reg_12.png"/></a>
        </div>
        <div class="landing_page_text"><strong>Abp Reg 12</strong><br/>Register of Alexander Neville (1374-1388)</div>
      </td>
    </tr>

    <tr>

      <td>
        <a href="/login_submit?submit=true&register_choice=test:21981&amp;register_name=Abp Reg 22: Register of George Neville (1465-1476) and Laurence Booth (1476-1480)"><img src="/assets/reg_22.png"/></a>
        <div class="landing_page_text"><strong>Abp Reg 22</strong><br/>Register of George Neville (1465-1476) and Laurence Booth (1476-1480)</div>
      </td>

      <td>
        <a href="/login_submit?submit=true&register_choice=test:24271&amp;register_name=Abp Reg 23: Register of Thomas Rotherham (1480-1500)"><img src="/assets/reg_23.png"/></a>
        <div class="landing_page_text"><strong>Abp Reg 23</strong><br/>Register of Thomas Rotherham (1480-1500)</div>
      </td>

      <td>
        <a href="/login_submit?submit=true&register_choice=test:20353&amp;register_name=Abp Reg 26: Register of Christopher Bainbridge (1508-1514) Sede Vacante Register 1514"><img src="/assets/reg_26.png"/></a>
        <div class="landing_page_text"><strong>Abp Reg 26</strong><br/>Register of Christopher Bainbridge (1508-1514) Sede Vacante Register 1514</div>
      </td>

      <td>
        <a href="/login_submit?submit=true&register_choice=test:19107&amp;register_name=Abp Reg 28: Register of Edward Lee (1531-1544)"><img src="/assets/reg_28.png"/></a>
        <div class="landing_page_text"><strong>Abp Reg 28</strong><br/>Register of Edward Lee (1531-1544)</div>
      </td>
    </tr>

  </table>
</div>