<div class="popup popup_subject">

  <div class="popup_title">Group Exists in Entry</div>

  <div><%= link_to 'Go back to search page', groups_path(@go_back_id, :search_term => @search_term, :group_field => @group_field) %></div>

  <div style="margin-top: 10px">
    The group <strong><%= @group_name %></strong> exists in one or more entries. Please remove it from the records displayed below (using the main interface) and then click on this button:
  </div>

  <div style="margin-top: 5px">
    <%= button_to 'Refresh', group_path(id), :method => :delete, params: { :search_term => @search_term, :group_field => @group_field }, title: "Delete '#{@group_name}'" %>
  </div>

  <div style="clear: both"></div>

  <hr/>

  <div style="margin-top: 10px; margin-left: 0px">
    <% @existing_location_list.each do |t| %>
        <div style="margin-top: 5px">
          <%= link_to t[2], '#', :onclick => "window.opener.location.href='/entries?id=#{t[0]}&amp;folio_id=#{t[1]}&amp;set_folio=true'" %>
        </div>
    <% end %>
  </div>
</div>