<html lang="en" class="no-js">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Archbishops&#39; Registers Error (500)</title>
    <%= stylesheet_link_tag "application", media: "all" %>
</head>

<body>

<div id="container">
    <div class="timed_out">
      <div class="message timeout">An internal server error has occurred (500) - please click on the back button and contact your administrator.</div>
    </div>
</div>

</body>
</html>
