<%# User is directed to this page if they try to delete a subject which is still being used %>
<div class="popup popup_subject">

  <div class="popup_title">Subject Exists in Entry</div>

  <div><%= link_to 'Go back to search page', subject_path(@go_back_id) %></div>

  <div style="margin-top: 10px">
    The place <strong><%= @subject_name %></strong> exists in one or more entries. Please remove it from the records displayed below (using the main interface) and then click on this button:
  </div>

  <%# Refresh button %>
  <div style="margin-top: 5px">
    <%= button_to 'Refresh', subject_path(id, :go_back_id => @go_back_id), :method => :delete, title: "Delete '#{@subject_name}'" %>
  </div>

  <div style="clear: both"></div>

  <hr/>

  <%# Display all the entries (with links) where the subject still exists %>
  <div style="margin-top: 10px; margin-left: 0px">
    <% @existing_location_list.each do |t| %>
        <div style="margin-top: 5px">
          <%= link_to t[2], '#', :onclick => "window.opener.location.href='/entries?id=#{t[0]}&amp;folio_id=#{t[1]}&amp;set_folio=true'" %>
        </div>
    <% end %>
  </div>
</div>
