<div class="login" style="margin-top: 100px">

  <% if @error == 'true' %>
      <div class='message error' style="display: inline-block; padding: 5px 20px 8px 20px">Invalid username and / or
        password
      </div>
  <% end %>

  <div style="">

    <form action="/login_submit">

      <table cellspacing="0" style="font-size: 0.9em">

        <tr>
          <th colspan="2" style="height: 50px; font-size: 1.1em; padding: 5px 5px 10px 5px">
            <div style="padding: 8px; background-color: #808080; color: #F7F4EE; font-weight: bold">Login to the editing
              tool
            </div>
          </th>
        </tr>

        <tr>
          <td style='width: 80px'>Username</td>
          <td>
            <input style="margin-right: 10px" type="text" name="username"/>
          </td>
        </tr>

        <tr>
          <td>Password</td>
          <td>
            <input type="password" name="password"/>
          </td>
        </tr>

        <input type="hidden" name='submit' value="true"/>

        <tr>
          <td colspan="2" style="margin-top: 40px"><input type="submit" value="Login" />
          </th>
        </tr>

      </table>
    </form>
  </div>
</div>
