<html lang="en" class="no-js">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Archbishops&#39; Registers</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color: #004976">

<div style="margin-top: 40px">
  <%= yield %>
</div>

</body>
</html>
