<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" type="text/css" href="/assets/entries.scss">
</head>
<body style="padding: 0px; margin: 0px; background-color: #FFF8EB">
<div id="main-container" class="container">

  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
