<html lang="en" class="no-js">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Archbishops&#39; Registers</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div id="header" style="border-bottom: 1px solid #805E5E">

  <div id="header_text">
    Archbishops&#39; Registers Editing Tool
  </div>
</div>

<div id="container" style="margin-top: 7px">

  <%= yield %>

</div>

</body>
</html>

