<!DOCTYPE html>

<% context_path = ENV['CONTEXT_PATH'] %>

<html lang="en" class="no-js">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Archbishops&#39; Registers</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div id="container">

  <%# Display header including background image %>
  <div id="header" style="border-bottom: 1px solid #898989; background: url('<%= context_path %>/assets/header.jpg') repeat-x scroll 0 50% #000000;">

    <div id="header_text">
      Archbishops&#39; Registers Editing Tool
    </div>
  </div>

  <%# Display login form %>
  <div id="main" style="margin-top: 10px">
    <%= yield %>
  </div>

  <div style="clear: both"></div>

</div>

</body>
</html>

