<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Archbishops&#39; Registers</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div id="container" style="min-width: 300px">

  <div id="header" style="border-bottom: 1px solid #898989">

    <div id="header_text">
      Archbishops&#39; Registers Editing Tool
    </div>

  </div>

  <div class="timed_out" style="text-align: center">
    <%= yield %>
  </div>

</div>

</body>
</html>
